<section class="Accueil" id="Accueil">

    <div class="content">
        <h3>s'aventurier en algérie</h3>
        <p>découvrir son charme et sa magie</p>
        <a href="#" class="btn">en savoir plus</a>
    </div>

    <div class="controls">
        <span class="vid-btn active" data-src="/video8.mp4"></span>
        <span class="vid-btn" data-src="/video7.mp4"></span>
        <span class="vid-btn" data-src="/video6.mp4"></span>
        <span class="vid-btn" data-src="/video5.mp4"></span>
        <span class="vid-btn" data-src="/WhatsApp Video 2022-03-29 at 17.44.00.mp4"></span>
    </div>

    <div class="video-container">
        <video src="/video8.mp4" id="video-slider" loop autoplay muted></video>
    </div>
</section>