<section class="gallerie" id="gallerie">

    <h1 class="heading">
        <span>g</span>
        <span>a</span>
        <span>l</span>
        <span>l</span>
        <span>e</span>
        <span>r</span>
        <span>y</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="/béjaia.jpg" alt="">
            <div class="content">
                <h3>Béjaia</h3>
                <p>béjaia est considérée parmi les richesses touristiques en Algérie, découvrir béjaia</p>

            </div>
        </div>
        <div class="box">
            <img src="/constantine.jpg" alt="">
            <div class="content">
                <h3>Constantine</h3>
                <p>découvrir constantine, l'une des plus belles places en Algérie</p>


            </div>
        </div>
        <div class="box">
            <img src="/coupleOran.jpg" alt="">
            <div class="content">
                <h3>Oran</h3>
                <p>Oran la radieuse,
                    visiter Oran et ses splendides boulevards et édifices,</p>


            </div>
        </div>
        <div class="box">
            <img src="/taghit.jpg" alt="">
            <div class="content">
                <h3>Taghit</h3>
                <p> est fascinante par son vieux ksar, ses immenses dunes, ses maisons en 'toub' rouge, sa palmeraie
                    verdoyante, ses gravures rupestres millénaires, ses maisons d'hôte traditionnelle et l'hospitalité
                    légendaire de ses habitants..</p>

            </div>
        </div>
        <div class="box">
            <img src="/maqamchahid.jpg" alt="">
            <div class="content">
                <h3>Alger la blanche</h3>
                <p>L’Algérie s’ouvre de plus en plus au tourisme. Notamment Alger, capitale à l’histoire très riche et
                    qui a tant à vous faire découvrir.</p>

            </div>
        </div>
        <div class="box">
            <img src="/desert.jpg" alt="">
            <div class="content">
                <h3>Sahara</h3>
                <p>Le Grand Sud algérien est l'une des plus beaux déserts au monde. Tamanrasset et Djanet sont
                    redevenues les deux bases arrières des treks organisés par les spécialistes de la randonnée.</p>

            </div>
        </div>
        <div class="box">
            <img src="/béja.jpg" alt="">
            <div class="content">
                <h3>derguina</h3>
                <p>Les chutes d'eau du barrage du village Ighzer Ouftis dans la commune de Darguina, wilaya de Bejaia,
                    Algérie.</p>

            </div>
        </div>
        <div class="box">
            <img src="/tikjdaa.jpg" alt="">
            <div class="content">
                <h3>tikjda</h3>
                <p>La randonnée à Tikjda, c'est vivre l'esprit de montagne.</p>
            </div>
        </div>
        <div class="box">
            <img src="/const.jpg" alt="">
            <div class="content">
                <h3>constantine</h3>
                <p>Cette cité algérienne captive bon nombre de visiteurs par son impressionnante histoire et ses
                    nombreuses richesses touristiques</p>

            </div>
        </div>
        <div class="box">
            <img src="/casbah.jpg" alt="">
            <div class="content">
                <h3>casbah d'alger</h3>
                <p>Classée au patrimoine mondial de l’humanité par l’Unesco, la Casbah d’Alger est un endroit unique,
                    construit sur un site surplombant la baie d’Alger.</p>

            </div>
        </div>
        <div class="box">
            <img src="/kabylia.jpg" alt="">
            <div class="content">
                <h3>Kabylie</h3>
                <p>Les plus beaux sites naturels et touristiques en Kabylie comme Tamda Ugelmim, le plus haut lac
                    d'Afrique · Le parc de Gouraya et son Cap Carbon. les montagnes de djurdjura et d'autres</p>

            </div>
        </div>
        <div class="box">
            <img src="/annaba.jpg" alt="">
            <div class="content">
                <h3>plages annaba</h3>
                <p>les plages de annaba sont juste magnifiques!</p>

            </div>
        </div>

    </div>

</section>
<!--contact section starts!-->

<section class="contact" id="contact">
    <h1 class="heading">
        <span>c</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>t</span>
    </h1>
    <div class="row">

        <div class="image">
            <img src="" alt="">
        </div>

        <form action="">
            <div class="inputBox">
                <input type="text" placeholder="nom">
                <input type="text" placeholder="prénom">
                <input type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="numéro de téléphone">
                <input type="text" placeholder="sujet">
            </div>
            <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
            <input type="submit" class="btn" value=" envoyer message">
        </form>

    </div>

</section>-->

<!-- contact section ends !-->
<section class="footer">

    <div class="box-container">
        <div class="boxx">
            <h3>liens utiles</h3>
            <a href="#">Accueil</a>
            <a href="#">nos offres</a>
            <a href="formulairevoyage.html">créer votre voyage</a>
            <a href="#">Tombola</a>
            <a href="Qui somme nous.html">Qui sommes-nous?</a>
            <a href="#">donnez votre avis</a>
        </div>
        <div class="boxx">
            <h3>nous suivre sur</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">twitter</a>
            <a href="#">linkedin</a>
        </div>
        <div class="newsletter">
            <form action="">
                <h1>rejoiniez-nous sur newsletter</h1>
                <br>
                <br>
                <div class="email-box">
                    <i class="fas fa-envelop"></i>
                    <input class="tbox" type="email" name="" value="" placeholder="entrer votre email">
                    <button class="btnn" type="button" name="button">S'inscrire</button>
                </div>
            </form>
        </div>

    </div>

    <h1 class="credit">created by<span> mr. web designer </span> | all rights reserved! </h1>

</section>